
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">About Us</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-8">
                <h2>Our Mission</h2>
                <p>Portfolio Center provides online portfolio analysis tools, tactical asset allocation and optimization, and investment analysis tools for exploring different strategies.</p>
                <div class="well">
                    <blockquote>
                        <p>Truly amazing website with lots of features in the works!!!</p>
                        <footer>Luke Skywalker   
                        <cite title="Source Title">The fantastic word of investing, Pepe Le Pew, Books of Utopia, 2014</cite></footer>
                    </blockquote>                
                </div>

            </div>
            <div class="col-xs-12 col-sm-4">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Facts At a Glance</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Started</dt>
                            <dd>3 Feb. 2013</dd>
                            <dt>Major Stake Holder</dt>
                            <dd>Tony Stark</dd>
                            <dt>Last Year's Turnover</dt>
                            <dd>$100,250,375</dd>
                            <dt>Employees</dt>
                            <dd>54,013</dd>
                       </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-xs-12 col-sm-9">
                <h2>Facts &amp; Figures</h2>
                <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <th>
                            2013
                        </th>
                        <th>
                            2014
                        </th>
                        <th>
                            2015
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Employees
                        </th>
                        <td>
                            15
                        </td>
                        <td>
                            5,000
                        </td>
                        <td>
                            54,013
                        </td>
                    
                    </tr>
                    <tr>
                        <th>
                            Memberships
                        </th>
                        <td>
                            15,000
                        </td>
                        <td>
                            45,000
                        </td>
                        <td>
                            100,000
                        </td>
                    
                    </tr>
                    <tr>
                        <th>
                            Special Events
                        </th>
                        <td>
                            3
                        </td>
                        <td>
                            20
                        </td>
                        <td>
                            45
                        </td>
                    
                    </tr>
                    <tr>
                        <th>
                            Annual Turnover
                        </th>
                        <td>
                            $251,325
                        </td>
                        <td>
                            $1,250,375
                        </td>
                        <td>
                            ~$3,000,000
                        </td>
                    
                    </tr>
                </table>
                </div>
            </div>
             <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
            </div>
       </div> 
    </div>
